###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.5"
services:

    postgres:
        restart: unless-stopped
        build: phpdocker/postgres
        container_name: ${PROJECT_NAME}-psql
        env_file:
            - ./.env

    adminer:
        container_name: ${PROJECT_NAME}-adminer
        depends_on:
            - postgres
        restart: unless-stopped   
        image: adminer
        ports:
            - "8889:8080"

    mongo:
        image: mongo:4.2-bionic
        container_name: ${PROJECT_NAME}-mongo
        restart: unless-stopped
  
    mongo-express:
        container_name: ${PROJECT_NAME}-mongo-express
        depends_on:
            - mongo
        image: mongo-express
        restart: unless-stopped
        ports:
            - 9000:8081

    php:
        restart: unless-stopped
        depends_on:
            - postgres
            - mongo
        build: phpdocker/php-fpm
        container_name: ${PROJECT_NAME}-php
        working_dir: /application
        volumes:
            - ${APP_SRC}:/application
            - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini
            - ./phpdocker/php-fpm/autorun.sh:/autorun.sh

    node:
        image: node:14-buster
        depends_on:
            - mongo
        container_name: ${PROJECT_NAME}-node
        working_dir: /parser
        volumes: 
            - ${APP_SRC}../parser:/parser
        environment: 
            STAGE: prod
        # uncomment zis after initial docker-compose up --build
        #command: "npm run prod"


    nginx:
        restart: unless-stopped
        depends_on:
            - php
        image: nginx:alpine
        container_name: ${PROJECT_NAME}-nginx
        working_dir: /application
        volumes:
            - ${APP_SRC}:/application
            - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./logs/nginx:/var/log/nginx
        ports:
            - "8888:80"
